<div id="devices">
  <h1>Devices</h1>
  <%= link_to "Filter", "#", id: "toggle-filters" %> |
  <%= link_to 'New Device', new_device_path %> |
  <%= link_to "Cpu's", cpus_path %> |
  <%= link_to "Memory modules", memory_modules_path %>
  <br>
  <div id="filters"><%= datagrid_form_for @grid, :method => :get, :url => devices_path %></div>
  Total: <%= @grid.assets.total_count %> | <%= link_to "CSV", url_for(format: 'csv')  %> | <%= link_to "PDF", url_for(format: 'pdf')  %>

  <%= datagrid_table(@grid) %>
  <%= paginate @grid.assets %>

</div>