<%- model_class = Device -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")), new_device_path, class: 'btn btn-primary' %>
<%= link_to "Cpu's", cpus_path, class: 'btn btn-primary' %>
<%= link_to "Memory modules", memory_modules_path, class: 'btn btn-primary' %>
<br><br>
<%= link_to "", "#", id: "toggle-filters", class: 'glyphicon glyphicon-filter' %>
<%= link_to "", url_for(format: 'csv'), class: 'glyphicon glyphicon-file'  %>
<%= link_to "", url_for(format: 'pdf'), class: 'glyphicon glyphicon-print' %>
Total: <%= @grid.assets.total_count %>
<br>
<div id="filters"><%= datagrid_form_for @grid, :method => :get, :url => devices_path %></div>

<%= datagrid_table(@grid) %>
<%= paginate @grid.assets %>