<%- model_class = Device -%>
<div class="page-header">
  <h1><%="#{t '.title', :default => model_class.model_name.human.titleize}: #{@device.name.titleize}" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @device.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @device.device_type.title unless @device.device_type.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:device_model) %>:</strong></dt>
  <dd><%= @device.device_model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer) %>:</strong></dt>
  <dd><%= render :partial => "devices/manufacturer", :locals => {:model => @device} %><%= @device.manufacturer.title unless @device.manufacturer.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchased_at) %>:</strong></dt>
  <dd><%= @device.purchased_at.strftime("%Y-%m-%d %H:%M") unless @device.purchased_at.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @device.age %> years</dd>
  <dt><strong><%= model_class.human_attribute_name(:serialnumber) %>:</strong></dt>
  <dd><%= @device.serialnumber %></dd>
  <dt><strong><%= model_class.human_attribute_name(:servicetag) %>:</strong></dt>
  <dd><%= link_to @device.servicetag, :target => "_blank" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:consumer) %>:</strong></dt>
  <dd><%= @device.user.full_name unless @device.user.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%=  render :partial => "devices/color", :locals => {:device => @device} %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cpu) %>:</strong></dt>
  <dd><%= "#{@device.number_of_cpu} x #{@device.cpu.title unless @device.cpu.nil?}" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:memory) %>:</strong></dt>
  <dd><%= "#{@device.number_of_mem} x #{@device.memory_module.title unless @device.memory_module.nil?}" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:operating_systems) %>:</strong></dt>
  <dd>
  <% @device.programs.operating_systems.each do |program| %>
      <%= program.full_title %><br>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:programs) %>:</strong></dt>
  <dd>
  <% @device.programs.no_operating_systems.each do |program| %>
      <%= program.full_title %><br>
  <% end %>
  <%= 'No programs defined' if @device.programs.no_operating_systems.empty? %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:nics) %>:</strong></dt>
  <%= render :partial => "devices/network_interface_cards", :locals => {:device => @device} %>
  <dt><strong><%= model_class.human_attribute_name(:features) %>:</strong></dt>
  <dd><%= @device.features %></dd>
  <dt><strong><%= model_class.human_attribute_name(:information) %>:</strong></dt>
  <dd><%= @device.information %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")), devices_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_device_path(@device), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")), device_path(@device), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>