<table id="documents">
  <tr>
    <td>
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Document:</strong>
        <%= @document.document %>
      </p>
      <p>
        <strong>Created at:</strong>
        <%= @document.created_at.strftime("%Y-%m-%d %H:%M") %>
      </p>
      <p>
        <strong>Updated at:</strong>
        <%= @document.updated_at.strftime("%Y-%m-%d %H:%M") %>
      </p>
      <%= link_to 'Edit', edit_device_document_path(@device, @document) %> |
      <%= link_to 'Back', device_documents_path %>
    </td>
  </tr>
</table>