<%= form_for([@device, @network_interface_card, @network_interface]) do |f| %>
    <% if @network_interface.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@network_interface.errors.count, "error") %> prohibited this device from being saved:</h2>

          <ul>
            <% @network_interface.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :roomnumber %><br>
      <%= f.text_field :roomnumber %>
    </div>
    <div class="field">
      <%= f.label :interface %><br>
      <%= f.text_field :interface %>
    </div>
    <div class="field">
      <%= f.label :ip %><br>
      <%= f.text_field :ip %>
    </div>
    <div class="field">
      <%= f.label :subnet %><br>
      <%= f.text_field :subnet %>
    </div>
    <div class="field">
      <%= f.label :router %><br>
      <%= f.text_field :router %>
    </div>
    <div class="field">
      <%= f.label :dns %><br>
      <%= f.text_field :dns %>
    </div>
    <div class="field">
      <%= f.label :ip6 %><br>
      <%= f.text_field :ip6 %>
    </div>
    <div class="field">
      <%= f.label :router6 %><br>
      <%= f.text_field :router6 %>
    </div>
    <div class="field">
      <%= f.label :prefix %><br>
      <%= f.text_field :prefix %>
    </div>
    <div class="field">
      <%= f.label :domains %><br>
      <%= f.text_field :domains %>
    </div>
    <div class="field">
      <%= f.label :mac %><br>
      <%= f.text_field :mac %>
    </div>
    <div class="field">
      <%= f.label :speed %><br>
      <%= f.text_field :speed %>
    </div>
    <div class="field">
      <%= f.label :duplex %><br>
      <%= f.text_field :duplex %>
    </div>
    <div class="field">
      <%= f.label :dhcp %><br>
      <%= f.check_box :dhcp %>
    </div>
    <div class="field">
      <%= f.label :vlan %><br>
      <%= f.number_field :vlan %>
    </div>
    <div class="field">
      <%= f.label :online %><br>
      <%= f.check_box :online %>
    </div>
    <%= f.hidden_field :network_interface_card_id %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>