<%- model_class = NetworkInterface -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")), new_device_network_interface_card_network_interface_path(@device, @network_interface_card), :class => 'btn btn-primary' %>
<%= link_to t('.back', :default => t("helpers.links.back")), device_network_interface_cards_path(@device), :class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:naam) %></th>
      <th><%= model_class.human_attribute_name(:roomnr) %></th>
      <th><%= model_class.human_attribute_name(:ip4) %></th>
      <th><%= model_class.human_attribute_name(:subnet) %></th>
      <th><%= model_class.human_attribute_name(:router4) %></th>
      <th><%= model_class.human_attribute_name(:dns) %></th>
      <th><%= model_class.human_attribute_name(:ip6) %></th>
      <th><%= model_class.human_attribute_name(:router6) %></th>
      <th><%= model_class.human_attribute_name(:prefix) %></th>
      <th><%= model_class.human_attribute_name(:domains) %></th>
      <th><%= model_class.human_attribute_name(:mac) %></th>
      <th><%= model_class.human_attribute_name(:dhcp) %></th>
      <th><%= model_class.human_attribute_name(:vlan) %></th>
      <th><%= model_class.human_attribute_name(:online) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @network_interfaces.each do |network_interface| %>
      <tr>
        <td><%= link_to network_interface.interface, device_network_interface_card_network_interface_path(@device, @network_interface_card, network_interface) %></td>
        <td><%= network_interface.roomnumber %></td>
        <td><%= network_interface.ip %></td>
        <td><%= network_interface.subnet %></td>
        <td><%= network_interface.router %></td>
        <td><%= network_interface.dns %></td>
        <td><%= network_interface.ip6 %></td>
        <td><%= network_interface.router6 %></td>
        <td><%= network_interface.prefix %></td>
        <td><%= network_interface.domains %></td>
        <td><%= network_interface.mac %></td>
        <td><span class="<%= network_interface.dhcp ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove' %>"></td>
        <td><%= network_interface.vlan %></td>
        <td><span class="<%= network_interface.online ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove' %>"></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_device_network_interface_card_network_interface_path(@device, @network_interface_card, network_interface), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), device_network_interface_card_network_interface_path(@device, @network_interface_card, network_interface), :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>