<div class="navbar navbar-default navbar-static-top">
  <div class="container" id="nav">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "HIM", main_app.root_path, class: "navbar-brand"  %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <li><%= link_to "Users", main_app.users_path %></li>
            <li><%= link_to "Contacts", main_app.contacts_path %></li>
            <li><%= link_to "Invoices", main_app.invoices_path %></li>
            <li><%= link_to "Devices", main_app.devices_path if can? :manage, Device %></li>
            <li><%= link_to "Documents", main_app.documents_path %></li>
            <li><%= link_to "Programs", main_app.programs_path if can? :manage, Program %></li>
            <li><%= link_to current_user.username, main_app.edit_user_registration_path %></li>
            <li><%= link_to "Log out", main_app.destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to "Search", main_app.search_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
